@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serif;
  --color-heading: #911A20;
  --color-text: #334155;
  --color-primary: #DA1515F3;
}

:root {
  --foreground: #334155;
  --background: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-montserrat);
}

h1, h2, h3, h4, h5, h6 {
  color: #911A20;
  font-family: var(--font-montserrat);
}

.horizontal-scroll {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.horizontal-scroll::-webkit-scrollbar {
  display: none;
}
